
S1_Themes/S1_Themes_Full_PDF.aux
*.log
*.ptc
S1_Themes/S1_Themes_Full_PDF.aux
*.gz
*.xml
Exercices/Exercices_Full_PDF.aux
Exercices/Exercices_Full_PDF.bcf
*.aux
*.aux
*.bcf
*.aux
*.xml
*.gz
*.log
*.log
*.idx
*.out
*.synctex(busy)
S2_Cours/07_PilesFiles_TP/.DS_Store
*.toc
MPSI_PTSI/02_RepresentationNombres/.DS_Store
